<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <div class="">
            <section class = 'hero is-small is-primary'>
                <div class="hero-body">
                    <p class = title> Apex Gun Check</p>
                </div>
            </section>
            <% if (logIn) {%>
                <a href="/guns/new">New Gun</a>

                <form class="" action="/sessions?_method=DELETE" method="post">
                    <input type="submit" name="" value="Log out">
                </form>
            <%}%>
            <div class="columns">

                <ul class = 'column'>
                    <h2 class = 'has-text-weight-bold'>Sniper Rifles</h2>
                    <% for (let gun of guns) { %>
                        <%if(gun.class ==='Sniper'){ %>
                        <li class = ''>
                            <a href="/guns/<%=gun._id%>"> <%= gun.name %></a>
                        </li>
                    <%}%>
                    <% } %>
                </ul>
                <ul class = 'column'>
                    <h2 class = 'has-text-weight-bold'>Assualt Rifles</h2>
                    <% for (let gun of guns) { %>
                        <%if(gun.class ==='AR'){ %>
                        <li class = ''>
                            <a href="/guns/<%=gun._id%>"> <%= gun.name %></a>
                        </li>
                    <%}%>
                    <% } %>
                </ul>
                <ul class = 'column'>
                    <h2 class = 'has-text-weight-bold'>Light Machine Guns</h2>
                    <% for (let gun of guns) { %>
                        <%if(gun.class ==='LMG'){ %>
                        <li class = ''>
                            <a href="/guns/<%=gun._id%>"> <%= gun.name %></a>
                        </li>
                    <%}%>
                    <% } %>
                </ul>
                <ul class = 'column'>
                    <h2 class = 'has-text-weight-bold'>SMGs</h2>
                    <% for (let gun of guns) { %>
                        <%if(gun.class ==='SMG'){ %>
                        <li class = ''>
                            <a href="/guns/<%=gun._id%>"> <%= gun.name %></a>
                        </li>
                    <%}%>
                    <% } %>
                </ul>
                <ul class = 'column'>
                    <h2 class = 'has-text-weight-bold'>Pistols</h2>
                    <% for (let gun of guns) { %>
                        <%if(gun.class ==='Pistol'){ %>
                        <li class = ''>
                            <a href="/guns/<%=gun._id%>"> <%= gun.name %></a>
                        </li>
                    <%}%>
                    <% } %>
                </ul>
                <ul class = 'column'>
                    <h2 class = 'has-text-weight-bold'>Shotguns</h2>
                    <% for (let gun of guns) { %>
                        <%if(gun.class ==='Shotgun'){ %>
                        <li class = ''>
                            <a href="/guns/<%=gun._id%>"> <%= gun.name %></a>
                        </li>
                    <%}%>
                    <% } %>
                </ul>
            </div>

        </div>
    <a class = "button is-primary" href="/sessions/new">Log in</a>
    </body>
</html>
