<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body class = 'has-background-grey-lighter'>
        <section class = 'hero is-small is-primary'>
            <div class="hero-body">
                <p class = title><%= gun.name%></p>
                <p class = 'subtitle'><%= gun.description%></p>
            </div>
        </section>
        <h1> </h1>
        <br>
        <div class=" columns">
            <table class = 'table is-hoverable column has-background-grey-lighter'>
                <tr>
                    <th>Stats</th>
                </tr>
                <tr>
                    <td>Class</td>
                    <td><%=gun.class%></td>
                </tr>
                <tr>
                    <td>Ammo Type</td>
                    <td><%=gun.ammo%> Rounds</td>
                </tr>
                <tr>
                    <td>Fire Rate</td>
                    <td><%=gun.fireRate%> shots per second</td>
                </tr>
                <tr>
                    <td>Damage</td>
                    <td> <%=gun.damage%> </td>
                </tr>
                <tr>
                    <td>DPS</td>
                    <td><%=gun.dps%></td>
                </tr>
                <tr>
                    <td>ADS Speed</td>
                    <td><%=gun.adsSpeed%>%</td>
                </tr>
                <tr>
                    <td>Reload Time</td>
                    <td><%=gun.reloadTime%> seconds</td>
                </tr>
                <tr>
                    <td>Recoil Pattern</td>
                    <td><%=gun.recoil%></td>
                </tr>

            </table>
            <img class = column src="<%=gun.img%>" alt="">
        </div>
        <div class="">

        </div>
        <% if (logIn){ %><a class = "button is-primary" href="/guns/<%=gun.id%>/edit">Edit</a>
        <form action="/guns/<%=gun._id%>?_method=DELETE" method="POST">
        <input class = "button is-danger" type="submit" value="DELETE"/>
    </form> <%}%>

    </body>
    <footer class = "footer has-background-grey-lighter">

    <a class = "has-background-grey-lighter" href="/guns/ammo/<%=gun.ammo%>">Other <%=gun.ammo%> guns</a>
    <%- include ('../partials/footer.ejs') %>
    </footer>
</html>
